
  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  @media screen and (min-width: 768px) {
    .app-container {
      align-items: center;
      background-color: #ffffff;
      
    }
  }

  .head-nav-foot-container{
    width: 100vw;
  }
  .portfolio-container {
    display: flex;
    flex-direction: row;
    margin: 1%;
    width: 95%;
  }
  
  @media screen and (min-width: 768px) {
    .portfolio-container {
      justify-content: center;
      max-width: 1250px;
    }
  }
  




.portfolio-body {
  display: flex;
  flex-direction: column;
  border:1px solid black;
  border-radius: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio-body {
    width: 90%;
    margin-left: 10px;
  }
}

.active-section {
  display: flex;
  background-color: #ffffff35;
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding: 24px;
}

@media screen and (min-width: 768px) {
  .active-section {
    height: 74vh;
    margin-left: 32px;
    padding: 32px;
  }
}